/*

*/
*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

body{
    font-family:  sans-serif;
    background-color: #17181c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.main-color{
    background-color: #1e1f23 ;
}
.main-color-border{
    border: #e9e9e90d solid 0.5px;
}
.left-side{
    background-color: #1e1f23 ;
}
.right-side{
    height: 100%;
}

.main-header{
    width: 100%;
    height: 7rem;
    padding: 0 2rem;
    margin: 0;
    color: #fff;
    align-items: center;

}
.main-header .menu-icon{
    color: #fff;
    font-size: 3rem;
    margin-right: 4rem;
    display: none;
}
.icon-close-nav{
    color: white;
    font-size: 3rem;
    display: none;
}
.main-header p{
    padding: 0;
    margin:0 ;
    margin-left: 1rem;
    font-size: 1.8rem;

}
.home{
    cursor: pointer;
    align-items: center;
}
.home img{
    height: 2rem;
}
.explore-section{
    padding: 0.2rem;
    background-color:#27282f ;
    margin-left: 5rem;
    font-size: 1.3rem;
    border-radius: 5px;
}

.explore-section div{
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #878787;
    transition: 0.3s;

}
.explore-section div.active{
    background-color: rgb(25, 27, 32);
    color: #d4d2d2;
}
.explore-section div:hover{
    background-color: rgb(25, 27, 32);
    color: #d4d2d2;
}

.personal{
    flex-grow: 2;
}
.messages,.bill{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(59, 56, 56);
    cursor: pointer;
    transition: 0.3s;
}
.messages:hover,.bill:hover{
    background-color: #17181c;
}
.messages img,.bill img{
    width: 50%;
}

.account{
    position: relative;
    cursor: pointer;
}

.account img{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
}
.account p{
    font-size: 1.6rem;
}
.account span{
    position: absolute;
    right: 20px;
    bottom: 0px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    
}
.account span img{
    height: 1.2rem;
    width: 1.2rem;
    filter: brightness(0);

}


.center-section-container{
    padding: 2.5rem 2rem;

}
.post-section{
    width: 100%;
    background-color: #1e1f23;
    border-radius: 7px;
    padding:2rem;

}
.photo-and-input{

}

.photo-and-input input{
}

.photo-and-input input:hover{
    background-color: #27282f;
    border-radius: 50px;
}

.photo-and-input img{
    background-color: #27282f;
    border-radius: 50px;
    height: 4rem;
}


.photo-and-input input{
    background-color: #27282f;
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    color: #878787;

}

.post-options{
    padding-top: 2rem;
}
.post-options .options{

}
.options img{
    height: 2rem;
    cursor: pointer;
    filter: brightness(0.5);
    transition: 0.3s;
}
.options img:hover{
    filter: brightness(1);
}
.post-options .buttons button{
    background-color: transparent;
    color: #878787;
    padding: 0.5rem 3rem;
    border-radius: 7px;
    margin-left: 7px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.post-options .buttons button:hover{
    background-color: #17181c;
    color: #fff;
}

.posts{
}

.posts .post{
    background-color:#1e1f23;
    width: 100%;
    padding:2rem 2rem 0 2rem;
    margin-top: 2.5rem;
    border-radius: 7px;

}
.post-header{
    padding-bottom: 2rem;
}

.img-name-section{

}
.img-name-section img{
    height: 4rem;
    border-radius: 50px;
}
.info{
    flex-direction: column;
    color: #d4d2d2;
    font-size: 1.6rem;

}
.info .name{
    padding: 0;
    margin: 0;
    font-size: 15px;

}
.info .date{
    font-size: 1.1rem;
    color: #878787;
    padding: 0;
    margin: 0;
}

.post-header .options{
}
.post-header .options img{
    height: 1.5rem;
}

.post .post-content{
    width: 100%;
    color: #d4d2d2;
    font-size: 1.6rem;

}
.post .post-content p{
    margin-bottom: 0.7rem;
}
.post .post-content img{
    width: 100%;
}
.post-do{
    width: 100%;
}
.post-do div{
    height: 5rem;
    width: 100%;
    cursor: pointer;
    color: #878787;
}
.post-do div.active{
    height: 5rem;
    width: 100%;
    cursor: pointer;
    color: #3785e8;
}

.post-do div.active span{
    font-size: 1.2rem;
    display: inline-block;
    background-color: #3785e8;
    border-radius: 50px;
    padding: 0 1rem;
    color: #fff;
}

.post-do div.active img{
    filter: brightness(1);
}

.post-do div.active:hover p {
    color: #3785e8;
}

.post-do div:hover img{
    filter: brightness(1);
}
.post-do div:hover p{
    color: #fff;
}



.post-do div img{
    width: 2rem;
    filter: brightness(0.5);
}
.post-do div p{
    padding: 0;
    margin: 0;
}
.post-do div span{
    font-size: 1.2rem;
    display: inline-block;
    background-color: #27282f;
    border-radius: 50px;
    padding: 0 1rem;
}

.post-comment{
    width: 100%;
    border-top: solid 1px #27282f;
    padding-top: 2rem;
}
.comment-do{
    width: 100%
}
.comment-do input{
    border: solid 1px #27282f;
    background-color: #27282f;
    border-radius: 50px 0px 0px 50px;
    width: 100%;
    padding: 0.8rem 1.5rem;
}

.comment-photo img{
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
}

.comment-do{

}
.comment-do-options{
    background-color: #27282f;
    padding: 1.35rem 1.5rem;
    border-radius: 0px 5rem 5rem 0px;
}
.comment-do-options img{
    width: 1.5rem;
    cursor: pointer;
    filter: brightness(0.5);
}

.comment-do-options img:hover{
    filter: brightness(1);
}
.comments-header{
    padding: 1.5rem 0px;
    color: #878787;
    font-size: 1.2rem;
}

.all-comments{
    cursor: pointer;
    color: #d4d2d2;
}
.all-comments img{
    height: 1.5rem;
}
.sort{
    cursor: pointer;
}
.sort span{
    font-weight: 600px;
    color: #fff;
}
.comment{


}
.comment-photo{

}

.comment-name-content{
    color: #878787;
    padding-bottom: 5px;
}
.comment-name-content .name{
    color: #fff;
    padding-right: 0.5rem;
    font-weight: 500;
}
.comment-name-content .content{
    font-size: 1.4rem;
}
.comment-footer{
    color: #fff;
    font-size: 1.4rem;
    padding: 0px 0px 20px 0px;
}
.comment-footer img{
    height: 1.5rem;
}

.reply{
    cursor: pointer;
    cursor: pointer;
}
.reply img{
    transform: rotate(90deg);
}
.comment-footer .up-down{
    cursor: pointer;
}

.view-all-comments{
    color: rgb(47, 47, 255);
    padding: 1rem 0px;
    border-top: solid 1px #27282f;
}
.view-all-comments a{
    text-decoration: none;
    font-size: 1.3rem;
}














.logo{
    padding: 2rem 2rem 0px 2rem;

}
.logo img{
    width: 50%;
}
.search{
    margin-top: 2rem;
    border-radius: 7px;
    align-items: center;
    width: 100%;
    color: #878787;
    cursor: pointer;
    background-color: #27282f;
    border-radius: 7px;
    margin-bottom: 3rem;
    border: solid 2px #3d3f46;
    padding: 1rem !important;
}
.search img{
    width: 2.5rem;

}
.search input{
    width: 100%;
    background-color: transparent;
    color: #878787 !important;
    border: none;

}

.nav{
    padding: 2.5rem 1.5rem;
    border-bottom: solid 1px #27282f;
}
.nav div{
    padding: 1.5rem 1.5rem;
    width: 100%;
    color: #878787;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    margin-top: 0.5rem;
    font-size: 1.6rem;
}
.nav div{

}

.nav div .nav-small-number{
    padding: 0.5rem 1.5rem;
    background-color: #27282f;
    border-radius: 50px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;

}

.nav div.active{
    background-color: #27282f;
    border-radius: 7px;
    /*color: rgb(56, 56, 230);*/
}
.nav div.active img{
    filter: brightness(1);

}
.nav div:hover{
    background-color: #27282f;
    border-radius: 7px;
    color: #fff;
    /*color: rgb(56, 56, 230);*/
}

.nav div:hover img{
    filter: brightness(1);
}

.nav div img{
    width: 2rem;
    margin-right: 1rem;
    filter: brightness(0.5);
}

.nav div img:hover{
    filter: brightness(1);

}

.community{
    padding: 2.5rem 1.5rem;
    border-top: solid 1px #27282f;
    border-bottom: solid 1px #27282f;
}
.community .community-header{
    padding-left: 0px;
}

.community h3{
    color: #d4d2d2;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}
.community .community-header span{
    padding: 0.5rem 1.5rem;
    background-color: #27282f;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #d4d2d2;
}
.community .community-date{
    background-color: red;
    height: 100%;
    padding: 1rem 2rem; 
    background-color: #27282f;
    border-radius: 10px;
    margin-right: 1.5rem;
    text-align: center;

}
.community .community-date p:first-child{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}
.community .community-date p{
    margin: 0;
    padding: 0;
}
.community > div{
    padding: 0.5rem 1.5rem;
    width: 100%;
    color: #878787;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.community .community-info p{
    margin: 0;
    padding: 0;
    white-space: nowrap;

}
.community .community-info p:first-child{
    margin-top: 1rem;
    color: #d4d2d2;
    font-size: 1.8rem;
}
.community .community-info p:last-child{
    font-size: 1.5rem;
}

.community div img{
    width: 4rem;
    margin-right: 1rem;
    border-radius: 50px;
}
.community div .info{
    padding: 1.5rem 1.5rem;
    width: 100%;
    color: #878787;
    cursor: pointer;
}








.section-side{

}
.trinding{
    padding: 2rem;
    background-color: #1e1f23;
    margin-top: 2.5rem;
    border-radius: 7px;
}
.trinding-header{
    color: #d4d2d2;
}
.trinding-header h3{
    font-size: 1.8rem;
}
.trinding-header img,
.friends-header img
{
    height: 2rem;
    cursor: pointer;
}
.trinding-elements{

}
.trending-content,
.friends-content
{
    margin-top: 1.5rem;
}
.rotate--close{
    transform: rotate(-90deg);
    transition: 0.5s;
}
.rotate--open{
    transform: rotate(0deg);
    transition: 0.5s;
}
.trinding-hide{
    height: 65px;
    overflow: hidden;
    transition: 0.5s;
}
.trinding-show{
    transition: 0.5s;
    height: auto;
}

.trinding-row{
   align-items: center;
   margin:20px 0px;
}
.info p{
    margin: 0;
    padding: 0;
}
.info p:last-child{
    margin-top: 0.2rem;
    font-size: 14px;
    color: #878787;
}
.trinding-progress span{
    background-color: #27282f;
    color: #d4d2d2;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
}
.trending-see-all{
    width: 100%;
    text-align: center;

}
.trending-see-all a{
    text-decoration: none;
    text-transform: none;
}

.community-ads{
    margin-top: 6rem;
    border-radius: 10px;
    color: #d4d2d2;
    background-color: #1e1f23;
    overflow: hidden;
}

.community-ads-photo{
    height: 15rem;
    overflow: hidden;
}

.community-ads-photo img{
    width: 100%; 
}
.community-ads-info{
    padding: 1.5rem;
    color: #878787;
    margin-top: 1rem;
}
.community-name{
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding: 0;
    color: #d4d2d2;
}
.community-ads-info button{
    width: 100%;
    padding: 0.7rem 0px;
    background-color: transparent;
    border: solid 1px #27282f;
    color: #1e3cdc;
    margin-top: 2rem;
    cursor: pointer;
}





.friends{
    padding: 2rem;
    background-color: #1e1f23;
    margin-top: 4rem;
    border-radius: 7px;
}
.friends-header{
    color: #d4d2d2;
}
.friends-header h3{
    font-size: 1.8rem;
}
.friends-header img{
    height: 2rem;
}
.friends-elements{

}
.friends-row{
   align-items: center;
   margin:2rem 0px;
}
.friends-row .info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.friends-row .info img{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
}
.friends-row .info p{
    margin: 0;
    padding: 0;
}
.friends-row .info p:last-child{
    margin-top: 0.2rem;
    font-size: 1.4rem;
    color: #878787;
}
.friends-row .friends-progress span{
    background-color: #27282f;
    color: #d4d2d2;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
}
.friends-row .friends-see-all{
    width: 100%;
    text-align: center;

}
.friends-row .friends-see-all a{
    text-decoration: none;
    text-transform: none;
}


.bottom-nav{
    display: none;
}